* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 8px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-color: #ffffff;
}

header {
    width: 100%;
    min-height: 30vh;
    box-sizing: border-box;
    
    
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.header-container .logo  {
    flex: 1;
    text-decoration: none;
}

.header-container .logo a {
    font-size: 3.5rem;
    text-decoration: none;
    color: black;
}

.highlight {
    color: #127eb3;
}

/* MenuBar styles */

/* @keyframes sidebar-slow {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

.sideBar {
    position: fixed;
    top: 0;
    right: -400px;
    left: 20px;
    width: 400px;
    background-color: #127eb3;
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    height: 100vh;
    z-index: 999;
    display: none;
    flex-direction: column;
    padding: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
    font-size: 1.2rem;
    animation-name: sidebar-slow;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
   
}


@keyframes close-slow {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
    
}
.sidebar.active {

} */

.sideBar {
    position: fixed;
    top: 0;
    right: -100%; 
    width: 400px;
    background-color: #91bfd6;
    height: 100vh;
    z-index: 999;
    display: flex; 
    flex-direction: column;
    padding: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
    font-size: 1.2rem;
    transition: right 2s ease; 
}

.sideBar li {
    width: 100%;
    color: #000;
}

.sideBar li a {
    color: #000;
}


.sideBar.visible {
    right: 0;
}

/* Menu icon */
.menu i {
    transition: transform 0.3s ease;
    
}

#bar {
    font-size: 2rem;
}

.fa-solid.fa-times {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    color: #000;
    font-size: 1.3rem;
}

.menu i.active {
    transform: rotate(90deg); /* Rotate 90 degrees */
}


/* @keyframes close-slow {
    from {
        transform: rotateX(90deg);
    }

    to {
        transform: translateX(100%);
    }
    
}

.fa-close {
    animation-name: close-slow;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    transition: all 0.75s ease;
} */

.nav-links .sideBar li {
    width: 100%;
    color: #000;
    font-weight: bold;
}

.nav-links .sideBar li a {
    color: #000;
    width: 100%;
    font-weight: bold;
}

.sideBar .dropdown {
    position: relative;
    display: inline-block;
}

.sideBar .dropdown-content {
    display: none;
    position: relative;
    background-color: #ffff;
    width: max-content;
    max-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.sideBar .dropdown-content li a {
    font-size: 1rem;
    color: #127eb3;
    width: 100%;
}

.sideBar .dropdown:hover {
    display: block;
}

/*  side bar end styles */

nav {
    flex: 2;
}

.search-container {
    flex: 1;
    text-align: center;
    width: 100%;
    padding-right: 270px;
    position: relative;
    margin-top: 50px;
    
}

.search-container input {
    border: 1px solid white;
    border-radius: 2px;
    height: 80px;
    background-color: #f1f1f1;
    max-width: 500px;
}

.search-container input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}

.search-container input[type="text"]:focus {
    border-color: #007bff; 
}

.search-container input::placeholder {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.8rem;
}

.search-container input[type="text"] {
    color: #000; 
    background-color: #f9f9f9; 
    caret-color: #127eb3; 
    font-family: 'Arial', sans-serif; 
    font-weight: bold; 
    font-size: 1.8rem;
}

.search-container button {
    border: none;
    background-color: none;
}

.search-container button i {
    background-color: none;
    font-size: 1.8rem;
}

#search-icon {
    cursor: pointer;
    font-size: 1.7rem;
    margin-right: auto;
    margin-left: auto;
}

#faSearch {
    color: #127eb3;
    cursor: pointer;
    font-size: 1rem;
    background-color: none;
}

#faSearch:hover {
    cursor: pointer;
    color: black;
}

nav ul {
    list-style-type: none;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-links {
   justify-content: center;
   align-items: center;
   margin-right: 50px;
}

.nav-links li {
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

/* dropdown styles */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffff;
    width: max-content;
    min-height: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content li a {
    font-size: 2rem;
    color: #127eb3;
    width: 100%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.header-container .menu {
    padding-right: 40px;
}

.header-container .menu i {
    color: black;
    font-size: 1.2rem;
    cursor: pointer;
}

.login-links {
    display: flex;
    padding-left: 70px;
}

.login-links li a {
    font-size: 1.2rem;
}

.sideBar .login-links {
    display: flex;
    padding: 20%;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.login hr {
    margin-bottom: 50px;
}

.login {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    gap: 30px;
}

.login .footer-icons {
    display: none;
    justify-content: space-between;
    margin-top: 40px;
    text-decoration: none;
    padding-top: 40px;
    font-size: 0.6rem;
}

.login .footer-icons a {
    text-decoration: none;
    font-size: 1.3rem;
}

.login .footer-icons a i {
    font-size: 1.3rem;
}

/* menu icon styles */








/* Main Styles */
.main-container {
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
}

.intro {
    width: 100%;
    padding: 12px;
}

.intro h1 {
    font-size: 3.5rem;
    color: #000;
    font-weight: 500;
}

.intro p {
    font-size: 3.5rem;
    font-weight: lighter;
    color: rgb(242, 50, 2);
    padding: 8px;
}

.intro a {
    text-decoration: none;
    color: #127eb3;
    font-size: 1.5rem;
}

.intro a:hover {
    color: #000;
}

/* books styles */

.course-books {
    width: 100%;
    margin: 50px auto;
    padding: 20px;
    background-color: none;
    border-radius: 8px;
}

.course-books h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #127eb3;
}

.subject-category {
    margin-bottom: 40px;
    padding: 10px;
    cursor: pointer;
}

/* .subject-category:hover {
    transition: width 2s linear;
    transform: scale(1.02);
} */

.subject-category h3 {
    font-size: 1.75rem;
    color: #000;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.subject-category ul {
    list-style-type: none;
    padding-left: 12px;
    display: flex;
    flex: 3;
    gap: 20px;
}

.subject-category li {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-left: 5px solid #007bff;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s linear, transform 0.3s ease;
    cursor: pointer;
    width: 100%;
    font-size: 1.8rem;
    height: 200px;
}

.subject-category li:hover {
    transform: scale(1.02);
}

.subject-category li h4 {
    margin: 0;
    font-size: 1.7rem;
    color: #007bff;
}

.subject-category li p {
    margin: 5px 0;
    font-size: 1.8rem;
    color: #555;
}

.subject-category li p strong {
    color: #000;
}

.subject-category a {
    text-decoration: none;
    color: #127eb3;
    font-size: 1.5rem;
    padding: 8px;
    cursor: pointer;
}

.subject-category a:hover {
    color: #000;
}

/* slideshow */

.slideshow {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*what do you want styles */

.what-do-you-want {
    width: 100%;
}

.slide {
    margin-left: auto;
    margin-right: auto;
}

.what-do-you-want p {
    font-size: 4rem;
    color: #000;
    text-align: left;
    margin-bottom: 20px;
}

.content-courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    text-align: center;
    gap: 30px;
}

.content-courses img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.actions a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
    transition: background-color 0.3s ease;
}

.download-btn {
    background-color: #007bff;
}

.save-btn {
    background-color: #28a745;
}

.actions a:hover {
    background-color: #0056b3;
}

.save-btn:hover {
    background-color: #218838;
}


.motivation-section {
    background-color: none;
    padding: 50px 20px;
    text-align: center;
    width: 100%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin: 40px 0;
}

.motivation-section h2 {
    font-size: 2.5rem;
    color: #007bff;
    margin-bottom: 20px;
}

.motivation-section p {
    font-size: 3.2rem;
    color: #555;
    margin-bottom: 40px;
    max-width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.motivation-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.motivation-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: 100%;
    text-align: left;
    margin: 20px;
}

.motivation-card h3 {
    font-size: 1.5rem;
    color: #007bff;
    margin-bottom: 10px;
}

.motivation-card p {
    font-size: 1.8rem;
    color: #666;
}

footer {
    width: 100%;
    background-color: #f9f9f9;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-right: 15px;
    gap: 20px;
}

.footer-icons i {
    cursor: pointer;
    font-size: 2.5rem;
}

footer p {
    font-size: 1.5rem;
    text-align: center;
    padding: 20px;
}
/* Mobile Responsive header */
@media screen and (max-width: 1200px) {
    #onMobile {
        display: none;
        
    }

    header {
        width: 100%;
        min-height: 10vh;
        box-sizing: border-box;
        
    }

    .header-container .logo  {
        flex: 1;
        text-decoration: none;
        margin-left: 20px;
    }
    
    .header-container .logo a {
        font-size: 1.6rem;
        text-decoration: none;
        color: black;
    }

    .nav-links li a {
        text-decoration: none;
        color: black;
        font-size: 1.2rem;
    }

    .login-links {
        display: flex;
        padding-left: 30px;
        margin-bottom: 50px;
    }
    
    .login-links li a {
        font-size: 1rem;
    }
    .login hr {
        margin-bottom: 50px;
    }
    .login {
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        gap: 30px;
    }
    
    .login .footer-icons {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        text-decoration: none;
        padding-top: 40px;
        font-size: 0.6rem;
    }
    
    .login .footer-icons a {
        text-decoration: none;
        font-size: 1.3rem;
    }
    
    .login .footer-icons a i {
        font-size: 1.3rem;
    }
    
    /* MenuBar styles */

    .sideBar {
        position: fixed;
        top: 0;
        right: -100%; 
        width: 100%;
        background-color: #91bfd6;
        height: 100vh;
        z-index: 999;
        display: flex; 
        flex-direction: column;
        padding: 8px;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 0;
        font-size: 1.2rem;
        transition: right 2s ease; 
    }
    
    .sideBar li {
        width: 100%;
        color: #000;
    }
    
    .sideBar li a {
        color: #000;
    }
    
    
    .sideBar.visible {
        right: 0;
    }
    
    /* Menu icon */
    .menu i {
        transition: transform 0.3s ease;
        
    }

    #bar {
        font-size: 1.3rem;
    }
    
    
    .sideBar .login-links {
        display: flex;
        padding: 20%;
        width: 100%;
        position: absolute;
    }    
    
    .highlight {
        color: #0020f3;
    }


    .main-container {
        width: 100%;
        /* margin: 0 auto;
        align-items: center;
        justify-content: center;
        text-align: center; */
        padding: 10px;
    }

    .intro {
        width: 100%;
        margin-top: 30px;
    }
    
    .intro h1 {
        font-size: 0.9rem;
        color: #000;
        font-weight: 500;
        text-align: left;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
    
    .intro p {
        font-size: 1.2rem;
        font-weight: lighter;
        color: rgb(242, 50, 2);
        padding: 0;
        line-height: 1.5;
        letter-spacing: 4px;
        text-align: left;
        padding: auto;
        width: 100%;
        margin-top: 20px;
    }

    .intro a {
        font-size: 1.3rem;
        text-transform: lowercase;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
        display: flex;
        margin-right: 20px;
    }

    .fa-solid.fa-arrow-right {
        font-size: 0.9rem;
        margin-left: 10px;
        padding-top: 6px;
    }
/* 
    .cta-button {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 20px;
    } */

    .intro i {
        font-size: 1rem;
    }

    .course-books {
        width: 100%;
        display: block;
    }

    .subject-category {
        width: 100%;
    }

    .subject-category ul {
        list-style-type: none;
        padding-left: 12px;
        display: flex;
        flex-direction: column;
        flex: 2;
        gap: 20px;
        width: 100%;
    }

    .subject-category li {
        margin-bottom: 20px;
        padding: 15px;
        background-color: #f9f9f9;
        border-left: 5px solid #007bff;
        border-radius: 4px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s linear, transform 0.3s ease;
        cursor: pointer;
        width: 100%;
        font-size: 1.8rem;
        height: max-content;
    }

    .subject-category li h4 {
        margin: 0;
        font-size: 1rem;
        color: #007bff;
    }
    
    .subject-category li p {
        margin: 5px 0;
        font-size: 1rem;
        color: #555;
    }

    .subject-category a {
        font-size: 1rem;
    }

    .subject-category i {
        font-size: 1rem;
    }

    .search-container {
        display: none;
    }

    /* .search-container {
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 20px;
        width: 100%;
    }

    #search-icon {
        cursor: pointer;
        font-size: 20px;
        position: absolute;
        right: 35px;
    }

    .search-container input[type="text"] {
        color: #000; 
        background-color: #f9f9f9; 
        caret-color: #127eb3; 
        font-family: 'Arial', sans-serif; 
        font-weight: bold; 
        font-size: 1rem;
    }

    .search-container input::placeholder {
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1rem;
    }

    .search-input {
        width: 100%;
        opacity: 0;
        transition: width 0.4s ease, opacity 0.4s ease;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    #search-input {
        width: 500px;
        height: 30px;
        margin-left: 20px;
       
    }

    .search-input.active {
        width: 400px;
        opacity: 1;
    } */

    .slideshow {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    /*what do you want styles */

    .what-do-you-want {
        width: 100%;
    }

    .what-do-you-want p {
        font-size: 1.2rem;
        color: #000;
        font-weight: bold;
        text-align: center;
        width: 100%;
    }

    .content-courses {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
        padding: 15px;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        max-width: 300px;
        text-align: center;
    }

    .content-courses img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
        margin-bottom: 15px;
    }

    .actions {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 20px;
    }

    .actions a {
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-weight: bold;
        color: white;
        transition: background-color 0.3s ease;
        text-align: center;
        font-size: 0.7rem;
    }

    .download-btn {
        background-color: #007bff;
    }

    .save-btn {
        background-color: #28a745;
    }

    .actions a:hover {
        background-color: #0056b3;
    }

    .save-btn:hover {
        background-color: #218838;
    }

    /* motivation section */

    .motivation-section {
        background-color: none;
        padding: 50px 20px;
        text-align: center;
        box-shadow: 0 4px 0px rgba(0, 0, 0, 0.1);
        margin: 40px 0;
        width: 100%;
    }
    
    .motivation-section h2 {
        font-size: 1.7rem;
        color: #000;
        font-weight: lighter;
        margin-bottom: 20px;
        text-align: left;
    }
    
    .motivation-section p {
        font-size: 1.2rem;
        color: #127eb3;
        margin-bottom: 40px;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }
    
    .motivation-cards {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
    }
    
    .motivation-card {
        background-color: #ffffff;
        padding: 20px;
     
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        flex: 1;
        max-width: 300px;
        text-align: left;
        margin: 20px;
    }
    
    .motivation-card h3 {
        font-size: 1.2rem;
        color: #000;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: center;
    }
    
    .motivation-card p {
        font-size: 1rem;
        color: #666;
        text-align: center;
    }

    .motivation-card i {
        font-size: 1rem;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    footer {
        width: 100%;
        background-color: #f9f9f9;
    }

    .footer-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin-right: 15px;
        gap: 20px;
    }

    .footer-icons i {
        cursor: pointer;
        font-size: 1.7rem;
    }

    footer p {
        font-size: 1rem;
        text-align: center;
        padding: 20px;
    }
}