* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* margin: 8px; */
    font-family: Arial, Helvetica, sans-serif;
    /*  */
    background-color: #ffffff;
}

header {
    width: 100%;
    height: max-content;
    padding: 40px;
    box-sizing: border-box;
    background-color: #007bff;
    
    
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* margin: 20px; */
    padding: 100px;
    
}

.header-container .logo  {
    flex: 1;
    text-decoration: none;
}

.header-container .logo a {
    font-size: 2.5rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.highlight {
    color: #fff;
}

/* MenuBar styles */


.sideBar {
    position: fixed;
    top: 0;
    right: -100%; 
    width: 400px;
    background-color: #91bfd6;
    height: 100vh;
    z-index: 999;
    display: flex; 
    flex-direction: column;
    padding: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
    font-size: 0.9rem;
    transition: right 2s ease; 
}

.sideBar li {
    width: 100%;
    color: #000;
}

.sideBar li a {
    color: #000;
}


.sideBar.visible {
    right: 0;
}

/* Menu icon */
.menu i {
    transition: transform 0.3s ease;
    
}

#bar {
    font-size: 1rem;
}

.fa-solid.fa-times {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    color: #000;
    font-size: 1.3rem;
}

.menu i.active {
    transform: rotate(90deg); 
}



/* nav-links */
.nav-links .sideBar li {
    width: 100%;
    color: #000;
    font-weight: bold;
}
#fa-close {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    color: #000;
    font-size: 1.3rem;
}
.nav-links .sideBar li a {
    color: #000;
    width: 100%;
    font-weight: bold;
    font-size: 1rem;
}

.sideBar .dropdown {
    position: relative;
    display: inline-block;
}

.sideBar .dropdown-content {
    display: none;
    position: relative;
    background-color: #ffff;
    width: max-content;
    max-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.sideBar .dropdown-content li a {
    font-size: 0.8rem;
    color: #127eb3;
    width: 100%;
}

.sideBar .dropdown:hover {
    display: block;
}

/*  side bar end styles */

nav {
    flex: 2;
}

.search-container {
    display: flex;
    justify-content: center;
    margin: auto;
    
    
}

.search-container form {
    display: flex;
    padding-right: 20px;
    gap: 20px;
}

.search-container input {
    border: 0px solid #f1f1f1;
    border-radius: 2px;
    height: 80px;
    max-width: 500px;
}

.search-container input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    outline: none;
    transition: border-color 0.3s;
}

.search-container input[type="text"]:focus {
    border-color: #007bff; 
}

.search-container input::placeholder {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

.search-container input[type="text"] {
    color: #000; 
    background-color: #f9f9f9; 
    caret-color: #127eb3; 
    font-family: 'Arial', sans-serif; 
    font-weight: bold; 
    font-size: 1rem;
}




#search-icon {
    cursor: pointer;
    font-size: 1.3rem;
    margin-right: auto;
    margin-left: auto;
}

#faSearch {
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: none;
    padding-top: 20px;
}

#faSearch:hover {
    cursor: pointer;
    color: black;
}

nav ul {
    list-style-type: none;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-links {
   justify-content: center;
   align-items: center;
   margin-right: 50px;
}

.nav-links li {
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.8rem;
}

/* dropdown styles */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffff;
    width: max-content;
    min-height: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content li a {
    font-size: 1.5rem;
    color: #127eb3;
    width: 100%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.header-container .menu {
    padding-right: 40px;
}

.header-container .menu i {
    color: black;
    font-size: 1.2rem;
    cursor: pointer;
}

.login-links {
    display: flex;
    padding-left: 70px;
    gap: 60px;
}

.login-links li i {
    font-size: 1.5rem;
    padding-right: 15px;
}

.sideBar .login-links {
    display: flex;
    padding: 20%;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.login-detail {
        display: block;
    }

    .login-detail a {
        text-decoration: none;
        color: #000;
        padding: 8px;
    }
.login hr {
    margin-bottom: 50px;
}

.login {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    gap: 30px;
}

.login .footer-icons {
    display: none;
    justify-content: space-between;
    margin-top: 40px;
    text-decoration: none;
    padding-top: 40px;
    font-size: 0.6rem;
}

.login .footer-icons a {
    text-decoration: none;
    font-size: 1.3rem;
}

.login .footer-icons a i {
    font-size: 1.3rem;
}

/* menu icon styles */








/* Main Styles */
.main-container {
    width: 100%;
    padding: 50px;
    
}

.intro {
    width: 100%;
    padding-top: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.intro h1 {
    font-size: 3.5rem;
    color: #000;
    font-weight: 500;
    text-align: left;
}

.intro p {
    font-size: 2.5rem;
    font-weight: lighter;
    text-align: left;
    color: rgb(242, 50, 2);
}

.intro a {
    text-decoration: none;
    color: #127eb3;
    font-size: 1.4rem;
    
}




.intro a:hover {
    color: #000;
}

/* books styles */

.course-books {
    width: 100%;
    padding-top: 50px;
}


.subject-category {
    width: 100%;
    display: block;
}

.subject-category h3 {
    font-size: 1.5rem;
    color: #000;
    font-weight: bold;
}

.subject-category ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.subject-category ul li {
    border: 0px solid #fff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    font-size: 1.8rem;
    width: max-content;
    padding: 15px;
    background-color: #fff;
    text-align: center;
}

.subject-category a {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.4rem;
    text-decoration: none;
    border: 0px solid #fff;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

}

/* slideshow */

.slideshow {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*what do you want styles */

.what-do-you-want {
    width: 100%;
    background-color: gray;
    margin-top: 20vh;
}

.slide {
    margin-left: auto;
    margin-right: auto;
}

.what-do-you-want p {
    font-size: 2.5rem;
    color: #fff;
    text-align: left;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
}

.content {
    display: none; /* Hide content by default */
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.content .fa-solid.fa-arrow-right {
    font-size: 2rem;
    cursor: pointer;
}

.selection {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    align-items: center;
   margin: auto;
}

.selection form {
    display: flex;
    gap: 20px;
    font-size: 3.5rem;
}

.selection label {
    font-size: 2.5rem;
    color: #fff;
}

.selection select {
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.content-courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    text-align: center;
    gap: 30px;
}

.content-container {
    display: none; /* Hide content by default */
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    position: relative;
}

.content-item {
    display: none; /* Hide individual content items */
}

.content-item.active {
    display: block; /* Show the active content item */
}

.nav-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
}

.nav-arrow.left {
    left: -50px;
}

.nav-arrow.right {
    right: -50px;
}

.content-courses img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.actions a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
    transition: background-color 0.3s ease;
}

.download-btn {
    background-color: #007bff;
}

.save-btn {
    background-color: #28a745;
}

.actions a:hover {
    background-color: #0056b3;
}

.save-btn:hover {
    background-color: #218838;
}


.motivation-section {
    background-color: none;
    padding: 50px 20px;
    text-align: center;
    width: 100%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 10vh;
}

.motivation-section h2 {
    font-size: 2rem;
    color: #007bff;
    margin-bottom: 20px;
    text-align: left;
}

.motivation-section p {
    font-size: 2.5rem;
    color: #000;
    font-weight: 700;
    margin-bottom: 40px;
   text-align: left;
    
}

.motivation-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.motivation-card {
    background-color: #127eb3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: 100%;
    text-align: left;
    margin: 20px;
}

.motivation-card h3 {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
}

.motivation-card p {
    font-size: 2.4rem;
    color: #fff;
    text-align: center;
}

.motivation-card i {
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


footer {
    width: 100%;
    background-color: #f9f9f9;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-right: 15px;
    gap: 20px;
}

.footer-icons i {
    cursor: pointer;
    font-size: 1.8rem;
}

footer p {
    font-size: 1.3rem;
    text-align: center;
    padding: 20px;
}
/* Mobile Responsive header */
@media screen and (max-width: 1200px) {
    #onMobile {
        display: none;
        
    }

    header {
        width: 100%;
        height: max-content;
        box-sizing: border-box;
        
    }

    .search-container {
        display: flex;
        width: 100%;
        padding: 20px;
    }

    .search-container form {
        display: flex;
        padding-right: 20px;
        gap: 10px;
    }

    .search-container input {
        border: 0px solid #f1f1f1;
        border-radius: 2px;
        height: 50px;
        max-width: 200px;
    }

    .search-container input[type="text"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        outline: none;
        transition: border-color 0.3s;
        font-size: 1.1rem;
    }

    .search-container input[type="text"]:focus {
        border-color: #007bff; 
    }

    .search-container input::placeholder {
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1rem;
    }

    #faSearch {
        cursor: pointer;
        font-size: 1rem;
    
    }

    .header-container .logo  {
        flex: 1;
        text-decoration: none;
        margin-left: 20px;
    }
    
    .header-container .logo a {
        font-size: 1.6rem;
        text-decoration: none;
        color: black;
        position: absolute;
        left: 16px;
        top: 20px;
    }

    .nav-links li a {
        text-decoration: none;
        color: black;
        font-size: 1rem;
    }

    .login-links {
        display: flex;
        padding-left: 30px;
        margin-bottom: 50px;
        gap: 60px;
    }
    
    .login-links li a {
        font-size: 0.8rem;
    }
    .login-links li i {
        font-size: 1rem;
    }

    .login-detail {
        display: block;
    }

    .login-detail a {
        text-decoration: none;
        color: #000;
        padding: 8px;
    }
    .login hr {
        margin-bottom: 50px;
    }
    .login {
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        gap: 30px;
    }
    
    .login .footer-icons {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        text-decoration: none;
        padding-top: 40px;
        font-size: 0.6rem;
    }
    
    .login .footer-icons a {
        text-decoration: none;
        font-size: 1rem;
    }
    
    .login .footer-icons a i {
        font-size: 1.3rem;
    }
    
    /* MenuBar styles */

    .sideBar {
        position: fixed;
        top: 0;
        right: -100%; 
        width: 100%;
        background-color: #91bfd6;
        height: 100vh;
        z-index: 999;
        display: flex; 
        flex-direction: column;
        padding: 8px;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 0;
        font-size: 1.2rem;
        transition: right 2s ease; 
    }
    
    .sideBar li {
        width: 100%;
        color: #000;
        font-size: 1rem;
    }
    
    .sideBar li a {
        color: #000;
        font-size: 1rem;
    }
    
    
    .sideBar.visible {
        right: 0;
    }
    
    /* Menu icon */
    .menu i {
        transition: transform 0.3s ease;
        
    }

    #bar {
        font-size: 1.3rem;
        position: absolute;
        right: 16px;
        top: 20px;
    }
    
    #fa-close {
        display: flex;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
        color: #000;
        font-size: 1.3rem;
    }
    
    
    .sideBar .login-links {
        display: flex;
        padding: 20%;
        width: 100%;
        position: absolute;
    }    
    
    .highlight {
        color: #fff;
    }


    .main-container {
        width: 100%;
        /* margin: 0 auto;
        align-items: center;
        justify-content: center;
        text-align: center; */
        padding: 10px;
    }

    .intro {
        width: 100%;
        margin-top: 30px;
    }
    
    .intro h1 {
        font-size: 0.9rem;
        color: #000;
        font-weight: 500;
        text-align: center;
        max-width: 500px;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
    
    .intro p {
        font-size: 1.2rem;
        font-weight: lighter;
        color: rgb(242, 50, 2);
        padding: 0;
        line-height: 1.5;
        letter-spacing: 4px;
        text-align: left;
        padding: auto;
        width: 100%;
        margin-top: 20px;
    }

    .intro a {
        font-size: 1.3rem;
        text-transform: lowercase;
        align-items: center;
        justify-content: center;
        text-align: center;
        display: flex;
        margin-right: 20px;
    }

    .fa-solid.fa-arrow-right {
        font-size: 0.9rem;
        margin-left: 10px;
        padding-top: 6px;
    }
/* 
    .cta-button {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 20px;
    } */

    .intro i {
        font-size: 1rem;
    }

    .course-books {
        width: 100%;
        display: block;
    }

    .subject-category {
        width: 100%;
    }

    .subject-category h3 {
        font-size: 1.3rem;
        color: #000;
        font-weight: bold;
        text-align: center;
        padding-bottom: 10px;
    }

    .subject-category ul {
        list-style-type: none;
        padding-left: 12px;
        display: flex;
        flex-direction: column;
        flex: 2;
        gap: 20px;
        width: 100%;
    }

    .subject-category li {
        margin-bottom: 20px;
        padding: 15px;
        background-color: #f9f9f9;
        border-left: 5px solid #007bff;
        border-radius: 4px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s linear, transform 0.3s ease;
        cursor: pointer;
        width: 100%;
        max-width: 100%;
        font-size: 1.8rem;
        height: max-content;
    }

    .subject-category li h4 {
        margin: 0;
        font-size: 1rem;
        color: #007bff;
    }
    
    .subject-category li p {
        margin: 5px 0;
        font-size: 1rem;
        color: #555;
    }

    .subject-category a {
        font-size: 1rem;
    }

    .subject-category i {
        font-size: 1rem;
    }


    

    .slideshow {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    /*what do you want styles */

    .what-do-you-want {
        width: 100%;
    }

    .what-do-you-want p {
        font-size: 1.2rem;
        color: #000;
        font-weight: bold;
        text-align: center;
        width: 100%;
    }

    .content-courses {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
        padding: 15px;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        max-width: 300px;
        text-align: center;
    }

    .content {
        display: none; /* Hide content by default */
        margin-top: 20px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    .content .fa-solid.fa-arrow-right {
        font-size: 2rem;
        cursor: pointer;
    }
    
    .selection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        align-items: center;
       margin: auto;
       width: 100%;
        gap: 8px;
        max-width: 100; 
        padding: 20px;
  }
    
    .selection form {
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-size: 1.5rem;
    }
    
    .selection label {
        font-size: 1.5rem;
        color: #fff;
    }
    
    .selection select {
        font-size: 1rem;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .content-courses img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
        margin-bottom: 15px;
    }

    .actions {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 20px;
    }

    .actions a {
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-weight: bold;
        color: white;
        transition: background-color 0.3s ease;
        text-align: center;
        font-size: 0.7rem;
    }

    .download-btn {
        background-color: #007bff;
    }

    .save-btn {
        background-color: #28a745;
    }

    .actions a:hover {
        background-color: #0056b3;
    }

    .save-btn:hover {
        background-color: #218838;
    }

    /* motivation section */

    .motivation-section {
        background-color: none;
        padding: 50px 20px;
        text-align: center;
        box-shadow: 0 4px 0px rgba(0, 0, 0, 0.1);
        margin: 40px 0;
        width: 100%;
    }
    
    .motivation-section h2 {
        font-size: 1rem;
        color: #000;
        font-weight: lighter;
        margin-bottom: 20px;
        text-align: left;
    }
    
    .motivation-section p {
        font-size: 1.2rem;
        color: #127eb3;
        margin-bottom: 40px;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }
    
    .motivation-cards {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
    }
    
    .motivation-card {
        background-color: #ffffff;
        padding: 20px;
     
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        flex: 1;
        max-width: 300px;
        text-align: left;
        margin: 20px;
    }
    
    .motivation-card h3 {
        font-size: 1.2rem;
        color: #000;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: center;
    }
    
    .motivation-card p {
        font-size: 1rem;
        color: #666;
        text-align: center;
    }

    .motivation-card i {
        font-size: 1rem;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    footer {
        width: 100%;
        background-color: #f9f9f9;
    }

    .footer-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin-right: 15px;
        gap: 20px;
    }

    .footer-icons i {
        cursor: pointer;
        font-size: 1.7rem;
    }

    footer p {
        font-size: 1rem;
        text-align: center;
        padding: 20px;
    }
}