* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #f1f1f1;
}

#togglePassword {
    cursor: pointer;
   
}

.login-container {
    
    width: 80%;
    height: max-content;
    padding: 40px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 100px;
}

.login-container h2 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container form .input-group {
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.login-container form .input-group input {
    padding: 10px;
    border: none;
    outline: none;
}

.login-container form .input-group label {
    padding: 10px;
    font-size: 0.8rem;
    color: #1273be;
}

.login-container form .input-group label i {
    font-size: 0.8rem;
    padding: 8px;
}

.login-container form button {
    padding: 10px;
    border: none;
    background: #1273be;  
    color: #fff;
    font-size: 0.9rem;
    cursor: pointer;
    max-width: 200px;
    border-radius: 8px;
}

.login-container form button:hover {
    background: #0a5a8a;
}



.login-container form .input-group input::placeholder {
    font-size: 0.7rem;
}

.login-container form input[type="text"] {
    font-size: 1.3rem;
}

.login-container form input[type="password"] {
    font-size: 1.3rem;
}

.login-container form input[type="email"] {
    font-size: 1.3rem;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.login-container p {
    font-size: 1.1rem;
    margin-top: 20px;
}

.login-container p a {
    text-underline-offset: 0.2em;
    color: #cf0000;
}

@media screen and (max-width: 1200px) {
    .main-form {
        margin: 20px;
    }
    .login-container {
        width: 100%;
        height: max-content;
        padding: 40px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-top: 100px;
        margin-bottom: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .login-container h2 {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 20px;
    }
    
    .login-container form {
        display: flex;
        flex-direction: column;
    }
    
    .login-container form .input-group {
        border: 1px solid #ccc;
        border-radius: 2px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }
    
    .login-container form .input-group input {
        padding: 10px;
        border: none;
        outline: none;
    }
    
    .login-container form .input-group label {
        padding: 10px;
        font-size: 1.2rem;
        color: #1273be;
    }
    .login-container form .input-group label i {
        font-size: 0.9rem;
        padding: 8px;
    }
    .login-container form button {
        padding: 10px;
        border: none;
        background: #1273be;  
        color: #fff;
        font-size: 0.6rem;
        cursor: pointer;
        max-width: 200px;
        border-radius: 8px;
    }
    
    .login-container form button:hover {
        background: #0a5a8a;
    }
    
    
    
    .login-container form .input-group input::placeholder {
        font-size: 1rem;
    }
    
    .login-container form input[type="text"] {
        font-size: 1.2rem;
    }
    
    .login-container form input[type="password"] {
        font-size: 1.2rem;
    }
    
    .login-container form input[type="email"] {
        font-size: 1.2rem;
    }
    
    .buttons {
        display: flex;
        justify-content: space-between;
        gap: 40px;
    }
    
    .login-container p {
        font-size: 1.1rem;
        margin-top: 20px;
    }

    .login-container p a {
        text-underline-offset: 0.2em;
        color: #cf0000;
    }
    
}